html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #ff0202;
    color: #ffffff;
}
a{
    text-decoration: none;
}
a, input, button, textarea{
    outline: none;
}
.container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}
img{
    display: block;
    max-width: 100%;
}
h2{
    position: relative;
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1em;
    color: #2f454f
}
h2:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 10%;
    margin-left: -5%;
    height: 1px;
    background-color: #ef1700;
}
/*header*/
.header{
    position: relative;
    padding: 50px 0;
    background: url("img/header-background.jpg") no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #2f454f;
}
.header:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.74);
}
.header__logo{
    display: block;
    width: 30%;
    margin: 0 auto;
}
.header h3{
    font-size: 36px;
}
.header h4{
    margin-bottom: 0;
    font-size: 24px;
}
.header p{
    margin: 0;
    font-size: 19px;
}
.header .btn-buy{
    margin: 30px 0;
}
.header__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.header-info-item{
    width: 33.3333333%;
}
.header-info-item__sign{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #ef1700;
    background-color: transparent;
    font-family: "Roboto Slab", sans-serif;
    color: #ef1700;
}
.header-info-item__sign-big{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.8em;
}
.header-info-item__sign-small{
    font-size: 12px;
}
.header-info-item__text{
    margin-top: 10px;
    font-size: 19px;
}
     /*about*/
.about{
    padding: 30px 0 60px 0;
}
.about__video-wrapper{
    width: 50%;
    margin: 50px auto 0 auto;
}
.about__video{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.about__video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*interesting*/
.interesting{
    padding: 30px 0 60px 0;
    background-color: #f7f7f7;
}
.interesting__items{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 50px auto 0 auto;
}
.interesting-item{
    width: 33.3333333%;
    text-align: center;
}
.interesting-item__logo{
    margin-bottom: 14px;
}
.interesting-item__logo img{
    margin: 0 auto;
}
.interesting-item__title{
    color: #2f454f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 19px;
    font-weight: 700;
}
.interesting-item__text{
    color: #2f454f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/*what happens*/
.what-happen{
    padding-top: 30px;
}
.what-happen__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto 0 auto;
}
.what-happen-item{
    width: 33.3333333%;
    margin-bottom: 30px;
    text-align: center;
}
.what-happen-item__img{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ef1700;
}
.what-happen-item__text{
    margin-top: 10px;
    color: #2f454f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
/*learn*/
.learn{
    padding: 30px 0 60px 0;
    background-color: #f7f7f7;
}
.learn__items{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto 0 auto;
}
.learn-item{
    width: 25%;
    text-align: center;
}
.learn-item__img{
    width: 13%;
    margin: 0 auto;
}
.learn-item__img img{
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    opacity: 0.35;
    transition-duration: 0.5s;
}
.learn-item:hover .learn-item__img img{
    filter: brightness( 100% ) contrast( 120% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
    opacity: 0.86;
}
.learn-item__title{
    margin-top: 14px;
    color: #2f454f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 19px;
    font-weight: 700;
}
.learn-item__text{
    color: #2f454f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/*buy*/
.buy{
    padding: 30px 0;
}
.buy__inner{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.buy-half{
    width: 50%;
}
.buy-half p{
    padding-right: 30px;
    color: #2f454f;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    line-height: 1.2em;
}
.buy__price{
    margin: 50px 0;
    text-align: center;
}
.btn-buy{
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ef1700;
}
.buy__price p{
    margin: 15px 0 0 0;
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.buy__price .buy__red{
    color: #ef1700;
    font-size: 40px;
}
/*benefits*/
.benefits{
    position: relative;
    padding: 30px 0;
    background: url("img/benefits-bg.jpg") no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}
.benefits:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(12,12,12,0.84);
}
.benefits h2{
    color: #ffffff;
}
.benefits__items{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 70px auto 0 auto;
}
.benefits-item{
    width: 33.33333333%;
    margin-bottom: 30px;
    text-align: center;
}
.benefits-item__img img{
    margin: 0 auto;
}
.benefits-item__text{
    margin-top: 14px;
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 17px;
    font-weight: 500;
}
/*why*/
.why{
    padding: 30px 0;
}
.why__items{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}
.why-halh{
    width: 50%;
}
.whu-item{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
}
.whu-item:last-child{
    margin-bottom: 0;
}
.whu-item__arrow{
    margin-right: 6px;
    color: #e52326;
}
.whu-item__text{
    color: #273b44;
    font-family: "Roboto Slab", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 0.8em;
}
/*sponsors*/
.sponsons{
    padding: 30px 0;
    background-color: #f7f7f7;
}
.sponsons-carousel{
    margin: 50px 0;
}
.sponsons-carousel__item img{
    max-width: 80%;
    max-height: 80px;
    margin:auto;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sponsons-carousel__item img:hover{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}
.slick-prev:before{
    content: "\f104";
    font-family: FontAwesome;
    line-height: 1;
    opacity: .75;
    font-size: 46px;
    color: #232323;
}
.slick-next:before{
    content: "\f105";
    font-family: FontAwesome;
    line-height: 1;
    opacity: .75;
    font-size: 46px;
    color: #232323;
}
/*who*/
.who{
    padding: 30px 0;
}
.who__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.who__items{
    max-width: 52%;
}
.who-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.who-item:last-child{
    margin-bottom: 0;
}
.who-item__arrow{
    margin-right: 6px;
    font-size: 18px;
    color: #e52326;
}
.who-item__title{
    margin-bottom: 5px;
    color: #273b44;
    font-family: "Roboto Slab", sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 0.9em;
}
.who-item__description{
    color: #273b44;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}
/*numbers*/
.numbers{
    padding: 30px 0 60px 0;
    background-color: #f7f7f7;
}
/*contacts*/
.contacts{
    padding: 30px 0;
    font-family: "Roboto Slab", sans-serif;
}
.contacts-form{
    width: 30%;
    margin: 50px auto;
    padding: 30px;
    background-color: #273b44;
}
.contacts-form__field{
    margin-bottom: 20px;
}
.inp-contacts,
.inp-text{
    width: 100%;
    font-size: 16px;
    border: 1px solid #ffffff;
}
.inp-contacts{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.inp-text{
    height: 160px;
    padding: 10px 15px;
    font-size: 18px;
    resize: none;
}
.btn-submit{
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: #ef1700;
    cursor: pointer;
}
/*footer*/
.footer{
    padding: 30px 0;
    background-color: #273b44;
    border-top: 3px solid #ef1700;
}
.footer-text p{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin: 0 0 5px 0;
}
.footer-text p:last-child{
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px){
    .container{
        padding: 0 15px;
    }
    .sponsons-carousel{
        margin: 50px 15px;
    }
    .who__photo{
        width: 48%;
    }
    .who__photo img{
        margin-left: auto;
    }
    .contacts-form{
        width: 50%;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .container{
        padding: 0 15px;
    }
    .header__logo{
        width: 70%;
    }
    .sponsons-carousel{
        margin: 50px 15px;
    }
    .who__items{
        max-width: 100%;
    }
    .who__photo{
        margin-top: 30px;
    }
    .interesting,
    .numbers,
    .sponsons,
    .learn{
        background-color: #e6e6e6;;
    }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    h2{
        font-size: 24px;
    }
    .contacts h2{
        font-size: 18px;
    }
    .header h3 {
        font-size: 30px;
    }
    .header h4 {
        font-size: 20px;
    }
    .header-info-item,
    .interesting-item,
    .what-happen-item,
    .learn-item,
    .buy-half,
    .benefits-item,
    .why-halh,
    .who__items,
    .interesting-item,
    .contacts-form,
    .about__video-wrapper{
        width: 100%;
    }
    .header-info-item,
    .interesting-item,
    .learn-item{
        margin-bottom: 20px;
    }
}